@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


  .inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }

  .rotate-animation {
    animation: rotate 4s linear infinite;
  }
  .merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
  }
  .hero-spacing {
    letter-spacing: 6%;
  
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .shadow-xs {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  }



  
.inner {
  position: relative;
  width: 100%;
  /* overflow: hidden; */
  height: 311px;
}


.inner img {
  max-width: 480px;
  height: 312px;
  padding: 0 15px;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .inner {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
    height: 165px;
  } 
  .inner img {
    max-width: 284px;
    height: 165px;
    padding: 0 10px;
    object-fit: cover;
  }
}

.wrapper {
  position: absolute;
  display: flex;
}

.wrapper section {
  display: flex;
  animation: swipe var(--speed) linear infinite backwards;
}

@keyframes swipe {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
@keyframes swipeRight {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.wrapper-right section {
  animation: swipeRight var(--speed) linear infinite;
}
.wrapper-right {
  position: absolute;
  display: flex;
  width: 100%;
}

.wrapper-right section {
  display: flex;
  will-change: transform;
}

