@import url('https://fonts.googleapis.com/css2?family=Orbit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-orbit: 'Orbit', sans-serif;
  }
  
  .font-orbit {
    font-family: var(--font-orbit);
  }
  

   .orbit-regular {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .rotate-animation {
    animation: rotate 4s linear infinite;
  }
  .merriweather {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
  }
  .hero-spacing {
    letter-spacing: 6%;
  
  }
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .hero {
    font-weight: 600;
    font-size: 70.25px;
    line-height: 68.72px;
    letter-spacing: -6%;
  }

  